.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
  border-bottom: 1px solid #eee;}
 
 .docs-section {
  padding: 2rem 0;
  margin-bottom: 0;}
